body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2E2520;
  background-color: #F6F7F7;
}

.list {
  list-style: none;
  text-decoration: none;
  border: none;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 767.98px) {
  .container {
    width: 767.98px;
  }
}
@media screen and (min-width: 1279.97px) {
  .container {
    width: 1279.97px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 767.98px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1279.97px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
}

.text {
  font-size: 18px;
  line-height: 1.22;
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: #F3848C;
  font-size: 18px;
  line-height: 1.22;
  color: #F6F7F7;
}

.wrapper {
  background-image: url(../images/background-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .wrapper {
    background-image: url(../images/background-480@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    background-image: url(../images/background-768.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .wrapper {
    background-image: url(../images/background-768@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    background-image: url(../images/background-1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .wrapper {
    background-image: url(../images/background-1200@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
.header__picture {
  z-index: 2;
  margin: 16px 0 20px 20px;
}
@media screen and (min-width: 768px) {
  .header__picture {
    margin: 24px 0 32px 28px;
  }
}
@media screen and (min-width: 1200px) {
  .header__picture {
    margin: 36px 0 65px 16px;
  }
}
@media screen and (max-width: 1199px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.menu-button {
  display: none;
  width: 30px;
  height: 16px;
  margin-right: 20px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .menu-button {
    margin-right: 32px;
  }
}
@media screen and (max-width: 1199px) {
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 112px;
  text-align: center;
  background-color: #f6f7f7;
  z-index: 1;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .menu-container {
    padding-top: 140px;
  }
}
.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}
.menu-container__item {
  margin-bottom: 40px;
}
.menu-container__item:last-child {
  margin-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .menu-container__item {
    margin-bottom: 60px;
  }
}
.menu-container__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: #3C322D;
}
.menu-container__link:hover,
.menu-container__link :focus {
  padding: 10px 28px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 110, 103, 0.63)), to(rgba(253, 86, 143, 0.86)));
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  -webkit-box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
          box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
  border-radius: 0px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .menu-container__link {
    font-size: 40px;
    line-height: 1.22;
  }
}

.main-nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .main-nav {
    margin: 36px 0 65px 16px;
  }
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__link {
  margin-right: 20px;
  padding: 4px 8px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #3C322D;
}
.main-nav__link--first {
  margin-left: 55px;
}
.main-nav__link--last {
  margin-right: 0;
}
.main-nav__link:hover,
.main-nav__link :focus {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 110, 103, 0.63)), to(rgba(253, 86, 143, 0.86)));
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  -webkit-box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
          box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
  border-radius: 0px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* ________________________________END OF HEADER_______________________________ */
.section-heroe {
  padding-top: 20px;
  padding-bottom: 52px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-heroe {
    padding: 0;
    padding-bottom: 138px;
  }
}
.section-heroe__title {
  margin-top: 0;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #3C322D;
}
@media screen and (max-width: 767px) {
  .section-heroe__title {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .section-heroe__title {
    margin: 0;
    margin-left: 31px;
    margin-bottom: 10px;
    max-width: 315px;
    text-align: left;
    font-size: 30px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1200px) {
  .section-heroe__title {
    margin-left: 16px;
    margin-bottom: 20px;
    max-width: 729px;
    font-size: 60px;
    line-height: 1.08;
  }
}
.section-heroe__text {
  margin: 0;
  margin-bottom: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #3C322D;
}
@media screen and (min-width: 768px) {
  .section-heroe__text {
    margin-bottom: 24px;
    margin-left: 31px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .section-heroe__text {
    margin-left: 16px;
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 1.21;
  }
}
.section-heroe__button {
  margin: 0;
  padding: 10px 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  background: #f3848c;
  -webkit-box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
          box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
  border-radius: 25px;
}
.section-heroe__button:hover,
.section-heroe__button :focus {
  color: #f3848c;
  background: #ffffff;
  border: 1px solid #f3848c;
}
.section-heroe__button:active {
  color: #ffffff;
  background: #f3848c;
  border: 1px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .section-heroe__button {
    display: block;
    width: 140px;
    margin-left: 31px;
  }
}
@media screen and (min-width: 1200px) {
  .section-heroe__button {
    display: block;
    width: 145px;
    margin-left: 16px;
  }
}

.about-us {
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .about-us__block {
    display: inline-block;
  }
}
.about-us__img {
  margin-bottom: 28px;
  border-radius: 24px;
}
.about-us__information {
  max-width: 480px;
}
.about-us__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  color: #3C322D;
}
.about-us__text {
  margin: 0;
  margin-bottom: 16px;
  max-width: 300px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #3C322D;
}
.about-us__text--hidden {
  display: none;
}
.about-us__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #3C322D;
}

@media screen and (min-width: 768px) {
  .about-us__block {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .about-us__img {
    min-width: 336px;
    margin: 0;
  }
  .about-us__title {
    width: 150px;
    margin-left: 31px;
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 1.22;
  }
  .about-us__text {
    margin-left: 32px;
    max-width: 300px;
  }
  .about-us__link {
    margin-left: 32px;
  }
  .about-us__information {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about-us {
    text-align: left;
  }
  .about-us__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us__img {
    min-width: 608px;
  }
  .about-us__link {
    display: none;
  }
  .about-us__text {
    font-size: 18px;
    line-height: 1.22;
  }
  .about-us__text--hidden {
    display: block;
  }
  .about-us__text {
    max-width: 100%;
  }
}/*# sourceMappingURL=index.css.map */