$mobile: 479.97px;
$tablet: 767.98px;
$desktop: 1199.97px;

$primary-text-color: #2e2520;
$title-text-color: #3c322d;
$accent-color: #f3848c;
$icon-color: #3c322d;
$primary-white: #f6f7f7;

$timing: cubic-bezier(0.4, 0, 0.2, 1);
