$mobile: 479.97px;
$tablet: 767.98px;
$desktop: 1279.97px;

$primary-text-color: #2E2520;
$title-text-color: #3C322D;
$accent-color: #F3848C;
$icon-color: #3C322D;
$primary-white: #F6F7F7;

$timing: cubic-bezier(0.4, 0, 0.2, 1);