<section class="contact container section">
    <h2 class="contact__tittle">Contact</h2>
    <form class="contact-form">
        <p class="contact-form__text text">We will answer any question!</p>

        <label class="contact-form__label" for="mail"></label>
        <input class="contact-form__input" type="email" name="email" id="mail" placeholder="Email" required>

        <label class="contact-form__label" for="question"></label>
        <input class="contact-form__input" type="text" name="question" id="question" placeholder="Type your question" required>

        <button class="contact-form__btn" type="submit">Register</button>

        <!-- socials -->
    </form>
</section>