<section class="contact container">
  <h2 class="contact__tittle tittle">Contact</h2>
  <form class="contact-form">
    <p class="contact-form__text text">We will answer any question!</p>

    <label class="contact-form__label" for="mail"></label>
    <input
      class="contact-form__input contact-form__input-desktop"
      type="email"
      name="email"
      id="mail"
      placeholder="Email"
      required
    />

    <label class="contact-form__label" for="question"></label>
    <input
      class="contact-form__input"
      type="text"
      name="question"
      id="question"
      placeholder="Type your question"
      required
    />

    <button class="button contact-form__btn" type="submit">Register</button>

    <ul class="social list contact-social">
      <li class="social__list">
        <a class="social-links" href="https://twitter.com/" target="_blank">
          <svg class="social__icon" width="20" height="20">
            <use href="./images/icon.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__list">
        <a
          class="social-links"
          href="https://www.instagram.com/"
          target="_blank"
        >
          <svg class="social__icon" width="20" height="20">
            <use href="./images/icon.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__list">
        <a
          class="social-links"
          href="https://www.facebook.com/"
          target="_blank"
        >
          <svg class="social__icon" width="20" height="20">
            <use href="./images/icon.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </form>
</section>
