<section class="section">
  <div class="container">
    <ul class="footer list">
      <li class="footer__item">
        <a class="footer__link list" href="tel:9102228855">(910)222-8855</a>
      </li>
      <li class="footer__item">
        <a
          class="footer__link list"
          href="https://www.google.com.ua/maps/@50.4851493,30.4721233,14z?hl=ru"
          target="_blank"
          rel="nonoopener noreferrer"
        >
          New York</a
        >
      </li>
    </ul>
  </div>
</section>
