<section class="container">
  <div class="footer">
    <ul class="footer__list list">
      <li class="footer__item">
        <a class="footer__link list" href="tel:9102228855">
          <svg class="footer__svg" width="13" height="13">
            <use href="./images/icon.svg#mobile"></use>
          </svg>
          (910)222-8855</a
        >
      </li>
      <li class="footer__item">
        <a
          class="footer__link list"
          href="https://www.google.com.ua/maps/@50.4851493,30.4721233,14z?hl=ru"
          target="_blank"
          rel="nonoopener noreferrer"
        >
          <svg class="footer__svg" width="15" height="14">
            <use href="./images/icon.svg#azimut"></use>
          </svg>
          New York</a
        >
      </li>
    </ul>
    <div class="footer__image">
      <img class="footer__img" src="./images/donuts.png" alt="donuts" />
    </div>
  </div>
</section>
