<section class="section">
  <div class="container">
    <h2 class="title">Price</h2>

    <div class="price">
      <div class="price__card">
        <h3 class="price__title">Easy start</h3>
        <ul class="price__list list">
          <li class="price__item text">features of yeast dough preparation</li>
          <li class="price__item text">
            preparation of liquid caramel for stuffing
          </li>
          <li class="price__item text">
            preparation of raspberry and strawberry filling
          </li>
          <li class="price__item text">fry and glaze donuts</li>
        </ul>
      </div>
      <div class="price__card">
        <h3 class="price__title">I want delicious donuts</h3>
        <ul class="price__list list">
          <li class="price__item text">
            preparation of liquid caramel for stuffing
          </li>
          <li class="price__item text">features of yeast dough preparation</li>
          <li class="price__item text">
            preparation of raspberry and strawberry filling
          </li>
          <li class="price__item text">melt chocolate for decoration</li>
          <li class="price__item text">fry and glaze donuts</li>
          <li class="price__item text">
            donut decoration. painting and various techniques
          </li>
        </ul>
      </div>
      <div class="price__card">
        <h3 class="price__title">Premium</h3>
        <ul class="price__list list">
          <li class="price__item text">features of yeast dough preparation</li>
          <li class="price__item text">
            preparation of liquid caramel for stuffing
          </li>
          <li class="price__item text">
            preparation of raspberry and strawberry filling
          </li>
          <li class="price__item text">melt chocolate for decoration</li>
          <li class="price__item text">fry and glaze donuts</li>
          <li class="price__item text">
            donut decoration. painting and various techniques
          </li>
          <li class="price__item text">
            After party and donut tasting with speakers
          </li>
          <li class="price__item text">
            2 private lessons with one of the speakers
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
