<section id="registration" class="section">
  <div class="container">
    <div class="registration">
      <h2 class="registration__tittle tittle">Registration</h2>
      <div class="registration__box">
        <div class="registration__pictore">
          <div class="registration__pic">
            <picture>
              <source
                srcset="
                  ./images/registration/desktop/white-background-1280.png    1x,
                  ./images/registration/desktop/white-background-1280@2x.png 2x
                "
                media="(min-width:1200px)"
              />

              <source
                srcset="
                  ./images/registration/tablet/white-background-768.png    1x,
                  ./images/registration/tablet/white-background-768@2x.png 2x
                "
                media="(min-width:768px)"
              />

              <img
                src="./images/registration/tablet/white-background-768.png"
                alt=""
              />
            </picture>
          </div>
        </div>
        <div class="registration__wrap">
          <div class="registration__inner">
            <p class="registration__text text">May 23, 11:00 <br />New York</p>
            <form class="form">
              <p class="form__text text">
                Apply your personal info <br />
                for registration
              </p>
              <label class="form__label" for="mena"></label>
              <input
                class="form__input"
                type="text"
                name="name"
                id="mena"
                placeholder="Your name"
                required
              />

              <label class="form__label" for="tel"></label>
              <input
                class="form__input"
                type="tel"
                name="tel"
                id="tel"
                placeholder="Phone number"
                required
              />

              <label class="form__label" for="mail"></label>
              <input
                class="form__input"
                type="email"
                name="email"
                id="mail"
                placeholder="Email"
                required
              />
              <button class="form__btn button" type="submit">Register</button>
            </form>
          </div>
        </div>
        <div class="registration__img">
          <picture>
            <source
              srcset="
                ./images/registration/desktop/colorful-donuts-1280.png    1x,
                ./images/registration/desktop/colorful-donuts-1280@2x.png 2x
              "
              media="(min-width:1200px)"
            />

            <source
              srcset="
                ./images/registration/tablet/colorful-donuts-768.png    1x,
                ./images/registration/tablet/colorful-donuts-768@2x.png 2x
              "
              media="(min-width:768px)"
            />

            <img
              src="./images/registration/tablet/colorful-donuts-768.png"
              alt="donut"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
