<section class="container">
  <h2 class="title">Reviews</h2>
  <div class="reviews">
    <div class="reviews__page">
      <div class="reviews__none reviews__block">
        <div class="reviews__foto reviews__foto-secondary">
          <picture>
            <source
              srcset="
                ./images/persone/desktop_persone_1.jpg     1x,
                ./images/persone/desktop_persone_1_@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/persone/tablet_persone_1.jpg     1x,
                ./images/persone/tablet_persone_1_@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="reviews__img"
              src="./images/persone/tablet_persone_1.jpg"
              alt="persone"
            />
          </picture>
        </div>
        <ul class="reviews__list list">
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="grade__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star_2"></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__name">John</h3>
      </div>
      <div class="reviews__block">
        <div class="reviews__foto">
          <picture>
            <source
              srcset="
                ./images/persone/desktop_persone_2.jpg     1x,
                ./images/persone/desktop_persone_2_@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/persone/tablet_persone_2.jpg     1x,
                ./images/persone/tablet_persone_2_@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/persone/mob_persone_2.jpg     1x,
                ./images/persone/mob_persone_2_@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="reviews__img"
              src="./images/persone/mob_persone_2.jpg"
              alt="persone"
            />
          </picture>
        </div>
        <ul class="reviews__list list">
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__name reviews__position">Will</h3>
      </div>

      <div class="reviews__none reviews__block">
        <div class="reviews__foto reviews__foto-secondary">
          <picture>
            <source
              srcset="
                ./images/persone/desktop_persone_3.jpg     1x,
                ./images/persone/desktop_persone_3_@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/persone/tablet_persone_3.jpg     1x,
                ./images/persone/tablet_persone_3_@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/persone/tablet_persone_3.jpg     1x,
                ./images/persone/tablet_persone_3_@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="reviews__img"
              src="./images/persone/tablet_persone_3.jpg"
              alt="persone"
            />
          </picture>
        </div>
        <ul class="reviews__list list">
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="24" height="24">
              <use href="./images/icon.svg#star"></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__name">Elisabeth</h3>
      </div>
    </div>
  </div>
  <p class="reviews__reviews text">
    Last time I have visited a cooking course by Eva
  </p>
  <p class="reviews__reviews text">
    I was impressed with the way she explained everything
  </p>
  <p class="reviews__reviews text">
    to people. You can be sure you will manage to cook a delicious dish even if
    it is your first time in the kitchen!
  </p>
  <p class="reviews__reviews text">
    Thank you so much for the masterclass! Looking forward to the next one and
    highly recommend it to everyone!
  </p>
  <p class="reviews__number">2/15</p>
</ы>
