<section class="speakers">
  <div class="container">
    <div class="speakers">
      <h2 class="title">Speakers</h2>
      <ul class="speakers__list list">
        <li class="speakers__item">
          <div class="speakers__round">
            <picture>
              <source
                srcset="
                  ./images/spearers/desktop_speakers_1.png    1x,
                  ./images/spearers/desktop_speakers_1@2x.png 2x
                "
                media="(min-width:1200px)"
              />

              <source
                srcset="
                  ./images/spearers/tablet_speakers_1.png    1x,
                  ./images/spearers/tablet_speakers_1@2x.png 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ./images/spearers/mob_speakers_1.png    1x,
                  ./images/spearers/mob_speakers_1@2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                class="speakers__image"
                src="./images/spearers/mob_speakers_1.png"
                alt="foto speakers"
              />
            </picture>
          </div>
          <h3 class="speakers__title">Molly Rivera</h3>
          <p class="speakers__text">Pastry chef, master chocolatier of Spain</p>
        </li>
        <li class="speakers__item">
          <div class="speakers__round">
            <picture>
              <source
                srcset="
                  ./images/spearers/desktop_speakers_2.png    1x,
                  ./images/spearers/desktop_speakers_2@2x.png 2x
                "
                media="(min-width:1200px)"
              />

              <source
                srcset="
                  ./images/spearers/tablet_speakers_2.png    1x,
                  ./images/spearers/tablet_speakers_2@2x.png 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ./images/spearers/mob_speakers_2.png    1x,
                  ./images/spearers/mob_speakers_2@2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                class="speakers__image"
                src="./images/spearers/mob_speakers_2.png"
                alt="foto speakers"
              />
            </picture>
          </div>

          <h3 class="speakers__title">Sophia Clark</h3>
          <p class="speakers__text">Сulinary school pastry chef</p>
        </li>
        <li class="speakers__item">
          <div class="speakers__round">
            <picture>
              <source
                srcset="
                  ./images/spearers/desktop_speakers_3.png    1x,
                  ./images/spearers/desktop_speakers_3@2x.png 2x
                "
                media="(min-width:1200px)"
              />

              <source
                srcset="
                  ./images/spearers/tablet_speakers_3.png    1x,
                  ./images/spearers/tablet_speakers_3@2x.png 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ./images/spearers/mob_speakers_3.png    1x,
                  ./images/spearers/mob_speakers_3@2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                class="speakers__image"
                src="./images/spearers/mob_speakers_3.png"
                alt="foto speakers"
              />
            </picture>
          </div>
          <h3 class="speakers__title">Isabella Taylor</h3>
          <p class="speakers__text">Сonsultant in the art of confectionery</p>
        </li>
        <li class="speakers__item">
          <div class="speakers__round">
            <picture>
              <source
                srcset="
                  ./images/spearers/desktop_speakers_4.png    1x,
                  ./images/spearers/desktop_speakers_4@2x.png 2x
                "
                media="(min-width:1200px)"
              />

              <source
                srcset="
                  ./images/spearers/tablet_speakers_4.png    1x,
                  ./images/spearers/tablet_speakers_4@2x.png 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  ./images/spearers/mob_speakers_4.png    1x,
                  ./images/spearers/mob_speakers_4@2x.png 2x
                "
                media="(min-width:320px)"
              />
              <img
                class="speakers__image"
                src="./images/spearers/mob_speakers_4.png"
                alt="foto speakers"
              />
            </picture>
          </div>
          <h3 class="speakers__title">Evelyn Miller</h3>
          <p class="speakers__text">Master- chocolatier in Spain</p>
        </li>
      </ul>
    </div>
  </div>
</section>
