<section class="speakers section">
    <div class="container">
    <h2 class="speakers__title">Speakers</h2>
    <ul class="speakers__list">
        <li class="speakers__item">
            <div class="speakers__round">
             <picture> 
                <source srcset="./images/molly-desktop-1x.png 1x, ./images/molly-desktop-2x.png 2x"
                media="(min-width:1200px)"/>  
              
                <source srcset="./images/molly-tablet-1x.png 1x, ./images/molly-tablet-2x.png 2x"
                media="(min-width:768px)"/>

                <source srcset="./images/molly-mobile-1x.png 1x, ./images/molly-mobile-2x.png 2x"
                media="(min-width:320px)"/>
            <img class="speakers__image" src="./images/molly-mobile-1x.png" alt="Molly Rivera">
           </picture>
            </div>
            <h3 class="speakers__item-title">Molly Rivera</h3>
            <p class="speakers__item-text">Pastry chef, master chocolatier of Spain</p>
        </li>
        <li class="speakers__item">
            <div class="speakers__round">
             <picture> 
                <source srcset="./images/sophia-desktop-1x.png 1x, ./images/sophia-desktop-2x.png 2x"
                media="(min-width:1200px)"/>  
              
                <source srcset="./images/sophia-tablet-1x.png 1x, ./images/sophia-tablet-2x.png 2x"
                media="(min-width:768px)"/>

                <source srcset="./images/sophia-mobile-1x.png 1x, ./images/sophia-mobile-2x.png 2x"
                media="(min-width:320px)"/>
            <img class="speakers__image" src="./images/sophia-mobile-1x.png" alt="Sophia Clark">
            </picture>
             </div>
            
            <h3 class="speakers__item-title">Sophia Clark</h3>
            <p class="speakers__item-text">Сulinary school pastry chef</p>
        </li>
         <li class="speakers__item">
             <div class="speakers__round">
             <picture> 
                <source srcset="./images/bella-desktop-1x.png 1x, ./images/bella-desktop-2x.png 2x"
                media="(min-width:1200px)"/>  
              
                <source srcset="./images/bella-tablet-1x.png 1x, ./images/bella-tablet-2x.png 2x"
                media="(min-width:768px)"/>

                <source srcset="./images/bella-mobile-1x.png 1x, ./images/bella-mobile-2x.png 2x"
                media="(min-width:320px)"/>
             <img class="speakers__image" src="./images/bella-mobile-1x.png" alt="Isabella Taylor">
             </picture>
              </div>
            <h3 class="speakers__item-title">Isabella Taylor</h3>
            <p class="speakers__item-text">Сonsultant in the art of confectionery</p>
        </li>
         <li class="speakers__item">
             <div class="speakers__round">
              <picture> 
                <source srcset="./images/evel-desktop-1x.png 1x, ./images/evel-desktop-2x.png 2x"
                media="(min-width:1200px)"/>  
              
                <source srcset="./images/evel-tablet-1x.png 1x, ./images/evel-tablet-2x.png 2x"
                media="(min-width:768px)"/>

                <source srcset="./images/evel-mobile-1x.png 1x, ./images/evel-mobile-2x.png 2x"
                media="(min-width:320px)"/>
             <img class="speakers__image" src="./images/bella-mobile-1x.png" alt="Isabella Taylor">
             </picture> 
             </div>
            <h3 class="speakers__item-title">Evelyn Miller</h3>
            <p class="speakers__item-text">Master- chocolatier in Spain</p>
        </li>
    </ul>
    </div>
</section>