<section class="speakers section">
    <div class="container">
    <h2 class="speakers__title">Speakers</h2>
    <ul class="speakers__list">
        <li class="speakers__item">
            <div class="speakers__image-holder">
                <div class="speakers__round">
            <img class="speakers__image" src="./images/molly-mobile-1x.png" alt="Molly Rivera">
            </div>
            <img class="speakers__image-top" src="./images/top.molly-mobile-1x.png" alt="Molly Rivera">
            </div>
            <h3 class="speakers__item-title">Molly Rivera</h3>
            <p class="speakers__item-text">Pastry chef, master chocolatier of Spain</p>
        </li>
        <li class="speakers__item">
            <div class="speakers__image-holder">
                <div class="speakers__round">
            <img class="speakers__image" src="./images/sophia-mobile-1x.png" alt="Sophia Clark">
             </div>
            <img class="speakers__image-top" src="./images/top.sophia-mobile-1x.png" alt="Sophia Clark">
             </div>
            <h3 class="speakers__item-title">Sophia Clark</h3>
            <p class="speakers__item-text">Сulinary school pastry chef</p>
        </li>
         <li class="speakers__item">
             <div class="speakers__image-holder">
                <div class="speakers__round">
             <img class="speakers__image" src="./images/bella-mobile-1x.png" alt="Isabella Taylor">
              </div>
            <img class="speakers__image-top" src="./images/top.bella-mobile-1x.png" alt="Isabella Taylor">
             </div>
            <h3 class="speakers__item-title">Isabella Taylor</h3>
            <p class="speakers__item-text">Сonsultant in the art of confectionery</p>
        </li>
         <li class="speakers__item">
             <div class="speakers__image-holder">
                <div class="speakers__round">
            <img class="speakers__image" src="./images/evel-mobile-1x.png" alt="Evelyn Miller">
             </div>
            <img class="speakers__image-top" src="./images/top.evel-mobile-1x.png" alt="Evelyn Miller">
             </div>
            <h3 class="speakers__item-title">Evelyn Miller</h3>
            <p class="speakers__item-text">Master- chocolatier in Spain</p>
        </li>
    </ul>
    </div>
</section>