.contact {
	&__tittle {
		text-align: center;
		margin: 0;
		margin-bottom: 27px;
	}
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__text {
		text-align: center;
		margin: 0;
		margin-bottom: 16px;
		@media screen and (min-width: $tablet) {
			margin-bottom: 27px;
		}
		@media screen and (min-width: $desktop) {
			margin-bottom: 16px;
		}
	}

	&__btn {
		margin-top: 20px;
		@media screen and (min-width: $tablet) {
			margin-top: 12px;
		}
		@media screen and (min-width: $desktop) {
			margin-top: 16px;
		}
	}

	&__input {
		width: 100%;
		max-width: 280px;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #000000;
		outline: transparent;
		font-size: 16px;
		line-height: 1.25;
		color: $primary-text-color;

		&::placeholder {
			font-size: 16px;
			line-height: 1.25;
			color: rgba(0, 0, 0, 0.5);
		}

		@media screen and (min-width: $tablet) {
			max-width: 336px;
		}

		@media screen and (min-width: $desktop) {
			max-width: 394px;
		}
	}

	&__input-desktop {
		margin-bottom: 20px;

		@media screen and (min-width: $tablet) {
			margin-bottom: 16px;
		}
	}
}

.contact-social {
	justify-content: center;
}
