.wrapper {
	background-image: url(../images/heroe/background-480.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: url(../images/heroe/background-480@2x.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}

	@media screen and (min-width: 768px) {
		background-image: url(../images/heroe/background-768.jpg);
		background-size: cover;
		background-repeat: no-repeat;

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: url(../images/heroe/background-768@2x.jpg);
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	@media screen and (min-width: 1200px) {
		background-image: url(../images/heroe/background-1200.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: url(../images/heroe/background-1200@2x.jpg);
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}

.header {
	display: flex;
	align-items: center;
	padding: 36px 0;
	&__picture {
		margin-right: 55px;
		z-index: 2;
	}
	@media screen and (max-width: 1199px) {
		justify-content: space-between;
		align-items: baseline;
	}
	&__logo {
		width: 100%;
		display: block;
	}
}

.menu-button {
	display: none;
	padding: 0;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	z-index: 2;

	@media screen and (min-width: 768px) {
		margin-right: 32px;
	}

	@media screen and (max-width: 1199px) {
		display: flex;
	}
}

.menu-button .icon-close {
	display: none;
}

.menu-button.is-open .icon-close {
	display: block;
}

.menu-button.is-open .icon-menu {
	display: none;
}

.menu-container {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 112px;
	text-align: center;
	z-index: 1;
	overflow-y: scroll;
	background: url(../images/fone-menu.png) repeat center/cover #e5e2e3;

	@media screen and (min-width: 768px) {
		padding-top: 140px;
	}

	&.is-open {
		display: flex;
		flex-direction: column;
	}

	&__list {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 52px;
		}

		@media screen and (min-width: 768px) {
			margin-bottom: 60px;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 28px;
		line-height: 1.21;
		color: $title-text-color;

		&:hover,
		&:focus {
			background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
			box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
			color: #ffffff;
			outline: transparent;
		}
		@media screen and (min-width: 768px) {
			font-size: 40px;
			line-height: 1.22;
		}
	}
}

.main-nav {
	display: none;

	@media screen and (min-width: 1200px) {
		margin: 36px 0 65px 16px;
	}

	&__list {
		display: flex;
	}
	&__item {
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		padding: 4px 8px;
		font-size: 18px;
		line-height: 1.22;
		color: $title-text-color;

		&:hover,
		&:focus {
			background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
			box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
			border-radius: 0px;
			color: #ffffff;
			outline: transparent;
		}
	}
	@media screen and (min-width: 1200px) {
		display: flex;
	}
}
