.section-heroe {
  padding-top: 20px;
  padding-bottom: 52px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding: 0;
    padding-bottom: 138px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: $title-text-color;

    @media screen and (max-width: 767px) {
      max-width: 280px;
    }
    @media screen and (min-width: 768px) {
      margin: 0;
      margin-left: 31px;
      margin-bottom: 10px;
      max-width: 315px;
      text-align: left;
      font-size: 30px;
      line-height: 1.23;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 16px;
      margin-bottom: 20px;
      max-width: 729px;
      font-size: 60px;
      line-height: 1.08;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: $title-text-color;

    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
      margin-left: 31px;
      text-align: left;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 16px;
      margin-bottom: 28px;
      font-size: 24px;
      line-height: 1.21;
    }
  }

  &__button {
    margin: 0;
    padding: 10px 32px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #ffffff;
    background: #f3848c;
    box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
    border-radius: 25px;

    &:hover,
    :focus {
      color: #f3848c;
      background: #ffffff;
      border: 1px solid #f3848c;
    }
    &:active {
      color: #ffffff;
      background: #f3848c;
      border: 1px solid #ffffff;
    }

    @media screen and (min-width: 768px) {
      display: block;
      width: 140px;
      margin-left: 31px;
    }

    @media screen and (min-width: 1200px) {
      display: block;
      width: 145px;
      margin-left: 16px;
    }
  }
}
