.price {
	width: 100%;

	&__main {
		display: block;

		@media screen and (min-width: $tablet) {
			display: flex;
			gap: 15px;
		}

		@media screen and (min-width: $desktop) {
			gap: 30px;
		}
	}

	&__title {
		text-align: center;
		margin-bottom: 17px;
		padding: 0;
		font-weight: 600;
        font-size: 18px;
        line-height: 1.22px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		padding: 20px 0;
		margin: 0 auto;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;

			@media screen and (min-width: $tablet) {
				min-height: 580px;
			}

			@media screen and (min-width: $desktop) {
				max-height: 610px;
			}
		}

		background-color: #fafbfb;
		border: 1px solid none;
		box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
		border-radius: 25px;

		&:hover,
		&:focus {
			border: 1px solid $accent-color;
		}

		@media screen and (min-width: $mobile) {
			width: 280px;
		}

		@media screen and (min-width: $tablet) {
			width: calc((100% - 30px) / 3);
			margin-bottom: 0;
		}
	}

	&__item {
		margin-left: 10px;
		margin-bottom: 12px;
		display: flex;

		&::before {
			content: "";
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			margin-right: 10px;
			background-image: url("/src/images/coоk.png");

			background-size: contain;

			@media screen and (min-width: $desktop) {
				margin-right: 16px;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__list {
		position: relative;
	}
	
	&__img {
		@media screen and (max-width: $tablet) {
			display: none;
		}
		position: absolute;
		transform: translate(0%, 100%);

		
		@media screen and (min-width: $tablet) {
			transform: translate(10%, 100%);
		}

		@media screen and (min-width: $desktop) {
			width: 300px;
			height: 218px;
			transform: translate(30%, 0);
		}
	}

	&__img-2 {
		position: absolute;
		transform: translate(30%, -100%);
		
		@media screen and (min-width: $tablet) {
			transform: translate(10%, 10%);
		}

		@media screen and (min-width: $desktop) {
			width: 300px;
			height: 218px;
			transform: translate(30%, -40%);
		}
	}

	&__img-3 {
		position: absolute;
		transform: translate(30%, -110%);
		
		@media screen and (min-width: $tablet) {
			transform: translate(10%, -100%);
		}

		@media screen and (min-width: $desktop) {
			width: 300px;
			height: 218px;
			transform: translate(30%, -90%);
		}
	}
	&__images {
		display: block;
	}

	&__button {
		margin: 0 auto;
	}
}