.program {
	width: 100%;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
		display: flex;
		gap: 40px;
	}

	@media screen and (min-width: 1200px) {
		gap: 120px;
	}

	.container {
		@media screen and (min-width: 768px) {
			width: calc((100% - 40px) / 2);
		}
		@media screen and (min-width: 1200px) {
			width: calc((100% - 120px) / 2);
		}
	}

	&__block {
		display: flex;
		justify-content: center;
		gap: 25px;
		@media screen and (min-width: 768px) {
			gap: 35px;
		}
		@media screen and (min-width: 1200px) {
			gap: 140px;
		}
	}

	&__position {
		width: calc((100% - 25px) / 2);
	}

	&__title {
		margin: 0;
		margin-bottom: 8px;
		font-weight: 500;
		font-size: 24px;
		line-height: 1.21;
		text-align: center;
		color: $title-text-color;

		@media screen and (min-width: 768px) {
			margin-bottom: 28px;

			font-size: 32px;
			line-height: 1.22;
			text-align: left;
		}

		@media screen and (min-width: 1200px) {
			margin-top: 60px;
			margin-bottom: 24px;
		}
	}

	&__text {
		margin: 0;
		margin-bottom: 16px;

		text-align: left;
		line-height: 1.25;
		color: $title-text-color;

		@media screen and (min-width: 768px) {
			width: 325px;
			margin-bottom: 14px;
		}

		@media screen and (min-width: 1200px) {
			width: 390px;
			margin-bottom: 21px;
			font-size: 18px;
			line-height: 1.22;
		}
	}

	&__list {
		margin-top: 10px;
		margin-bottom: 16px;
	}

	&__item {
		display: flex;
		margin-bottom: 8px;
		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			content: "";
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			margin-right: 10px;
			background-image: url("/src/images/coоk.png");

			background-size: contain;

			@media screen and (min-width: $desktop) {
				margin-right: 16px;
			}
		}
	}

	&__link {
		display: flex;
		margin-bottom: 25px;

		font-weight: 500;
		line-height: 1.25;
		color: $title-text-color;

		@media screen and (min-width: $desktop) {
			margin-bottom: 0;
		}

		@media screen and (min-width: $desktop) {
			display: none;
		}
	}

	&__overlay {
		@media screen and (max-width: 1199px) {
			display: none;
		}

		@media screen and (min-width: 1200px) {
			display: block;
			width: 390px;
			margin: 0;

			text-align: left;
			font-size: 18px;
			line-height: 1.22;
			color: $title-text-color;
		}
	}

	&__meta {
		width: 100%;
		margin: 0 auto;
	}

	&__meta-position {
		margin-top: 20px;

		@media screen and (min-width: 768px) {
			padding-top: 0;
		}

		@media screen and (min-width: 1200px) {
			padding-top: 60px;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		margin-top: 44px;
	}

	&__items {
		position: relative;
		margin-bottom: 30px;

		@media screen and (min-width: 768px) {
			margin-bottom: 40px;
		}
	}

	&__wrapper {
		position: relative;
		width: 100%;
		overflow: hidden;

		border: 1px solid $accent-color;
		border-radius: 50%;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

		&::before {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1000;

			background: linear-gradient(0.12deg, #000000 -11.45%, rgba(156, 156, 156, 0) 69.04%);
		}
	}
	&__wrapper-position {
		margin-top: 40px;

		@media screen and (min-width: 768px) {
			margin-top: 0px;
		}
	}

	&__wrap {
		position: absolute;
		width: 100%;
		height: auto;
		left: 50%;
		bottom: 20%;
		transform: translate(-50%);
		z-index: 10000;

		text-align: center;
	}

	&__img {
		display: block;
		width: 100%;
		height: auto;
	}

	&__desc {
		margin: 0;
		padding: 0;
		margin-bottom: 8px;

		font-weight: 500;
		line-height: 1.21;
		color: #ffffff;

		@media screen and (min-width: 768px) {
			line-height: 1.25;
		}

		@media screen and (min-width: 1200px) {
			margin-bottom: 16px;
			font-size: 24px;
			line-height: 1.21;
		}
	}

	&__slogan {
		margin: 0;
		padding: 0;
		font-size: 12px;
		line-height: 1.25;
		color: #ffffff;

		@media screen and (min-width: 768px) {
			font-size: 14px;
			line-height: 1.21;
		}

		@media screen and (min-width: 1200px) {
			line-height: 1.25;
		}
	}
}
