.reviews {
	width: 100%;

	&__page {
		width: 100%;
		@media screen and (min-width: $tablet) {
			display: flex;
			gap: 30px;
		}
	}

	&__block {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;

		@media screen and (min-width: $tablet) {
			&:nth-child(2) {
				margin-top: 170px;
			}
		}
	}

	&__none {
		display: none;

		@media screen and (min-width: $tablet) {
			display: flex;
		}
	}

	&__foto {
		max-width: 394px;
		max-height: 394px;
		overflow: hidden;
		border-radius: 50%;
	}

	&__foto-secondary {
		@media screen and (min-width: $tablet) {
			max-width: 290px;
			max-height: 290px;
		}
	}

	&__img {
		display: block;
		width: 100%;
	}

	&__list {
		display: flex;
		justify-content: center;
		margin-top: 8px;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__name {
		margin: 0;
		margin-top: 8px;

		font-weight: 600;
		font-size: 18px;
		line-height: 1.22;
	}

	&__position {
		margin-bottom: 30px;
	}

	&__reviews {
		text-align: center;
		padding: 0;
		margin: 0;

		font-size: 18px;
		line-height: 1.22;
	}

	&__number {
		display: flex;
		width: fit-content;
		position: relative;
		margin: 0 auto;
		margin-top: 30px;

		font-size: 14px;
		line-height: 1.21;
		color: #000000;

		&::after,
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			width: 35px;
			height: 1px;
			background-color: $accent-color;
		}

		&::after {
			right: -43px;
		}

		&::before {
			left: -43px;
		}
	}
}
